.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; 
}


.logo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

ul.list-inline {
    position: absolute;
    top: 0;
    right: 0;
}


.single-title h1{
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 25px;
    text-align: center;
    margin-top: 35px;
}
.single-title-con{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.card-title{
    font-family:'Josefin Sans', sans-serif ;
}

.nav-pills .nav-item:first-child .nav-link {
    background-color: #00523e;
    
}

.nav-pills .nav-item:not(:first-child) .nav-link {
    color: #3B8729; 
}

.meta-item.post-author {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    padding: 20px
    
}
  


footer {
    background-color: black;
    margin-top: 100px;
}

.textwidget.custom-html-widget {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 20px;
    text-align: center;
}

input[type="checkbox"] {
    border-color: #8a8f89;
}